body{
    margin: auto;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar ul{
    height: 10vh;
    column-count: 3;
    list-style: none;
    background-color: darkolivegreen;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}
.navbar a{
    text-decoration: none;
    color: mintcream;
    width: 100px;
    display: inline-block;
    padding: 25px;
    font-size: large;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.navbar a:hover{
    background: chocolate;
}
#sample1
{
    background-color: rosybrown;
    height:75vh;
    display: grid;
    place-items: center;
    min-width: auto;
}
#sample2
{
    background-color: palevioletred;
    height:110vh;
    display: grid;
    place-items: center;
    min-width: auto;
}
#sample3
{
    background-color:lightpink;
    height:100vh;
    display: grid;
    place-items: center;
    min-width: auto;
}
.container
{
    height: 100vh;
    margin:auto;
    width: 100%;
    padding:3rem;
    display:flex;
}
.col1{
    margin:1rem;
    display: grid;
    place-items: center;
}
.col2{
    margin:1rem;
    display: grid;
    place-items: center;
}
.col3{
    margin:1rem;
    display: grid;
    place-items: center;
}
.col4{
    margin:1rem;
    display: grid;
    place-items: center;
}
h1{
    background-color: rosybrown;
    text-align: center;
}
